sys.programGroup.allUsers$Boolean=true
secureAgentPort$Long=51443
tcatServiceName=tcat7
sys.component.50$Boolean=true
sys.languageId=en
sys.programGroup.linkDir=/usr/local/bin
sys.component.37$Boolean=true
sys.installationTypeId=39
tomcatHttpPort$Long=8080
sys.installationDir={{tomcat_install_dir}}
sys.programGroup.enabled$Boolean=true
tomcatAjpPort$Long=8009
sys.component.51$Boolean=false
tomcatHttpsPort$Long=8443
sys.programGroup.name=Tcat Server 7 [tcat7]
tomcatShutdownPort$Long=8005
